/*navbar*/
.navbar.border-bottom {
  border-bottom: 1px solid #f1f1f1; /* Very light gray */
}
.navbar-nav .nav-item {
  padding-left: 20px;
  position: relative;
}

.navbar-nav .nav-item .nav-link {
  transition: color 0.3s ease; /* Optional: for smooth color transition */
  padding: 0; /* Remove padding to make underline fit text */
  /* Your other styles for nav-link here */
}

.navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white; /* Or any other color for the underline */
  transition: width 0.3s ease;
}

.navbar-nav .nav-item:hover::after {
  width: calc(100% - 2px); /* Adjust width as needed for desired effect */
}

/*Jumbotron style*/
.lead {
  color: white;
  font-size: 32px;
  font-family: Syne;
  font-weight: 600;
  line-height: 40px;
  word-wrap: break-word;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 130px;
}

/*slide*/
.slide {
  color: white;
  font-size: 24px;
  font-family: Syne;
  font-weight: 600;
  line-height: 37.08px;
  word-wrap: break-word;
  height: 50px;
  margin-right: 40px;
  margin-top: 15px;
}

.slider .slide-track {
  animation: scroll 40s linear infinite; /* adjust duration as required */
  display: flex;
  width: calc(250px * 18); /* For 18 words */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-250px * 9));
  }
  100% {
    transform: translateX(0);
  }
}

/*style about*/
.aboutImage {
  /* ... any other styles you've set for aboutImage ... */
  box-shadow: 10px 10px 0px 0px rgba(106, 215, 229, 1); /* solid shadow */
  border-radius: 20px;
  height: 75%;
  width: 90%;
}

hr {
  border-top: none !important;
  border: none; /* Removes the default border */
  height: 5px; /* Specifies the height/thickness of the line */
  background-color: #6ad7e5; /* Color of the line */
  width: 5%; /* Width of the line, set to 50% of its container */
  margin: 20px auto;
}

.iconleft {
  margin-top: 55px;
  color: #6ad7e5;
  border-radius: 50%;
  background-color: white;
  margin-right: 15px;
  border: #6ad7e5 1px solid;
  height: 40px;
  width: 40px;
}

.iconright {
  color: white;
  border-radius: 50%;
  background-color: #6ad7e5;
  margin-top: 55px;
  margin-right: 40px;
  border: #6ad7e5 1px solid;
  height: 40px;
  width: 40px;
}

.people .workingWith {
  color: black;
  font-size: 32px;
  font-family: Syne;
  font-weight: 700;
  line-height: 49.44px;
  word-wrap: break-word;
}
